@import '../../scss/variables.scss';

.commentContainer{
    display: flex;
    .leftSide{
        min-width: 40px;
        margin-right: 25px;
        margin-left: 5px;
    }        
    .rightSide{
        width: 100%;
    }
    @media screen and (max-width:$mobile) {
        flex-direction: column;
        .leftSide{
            margin-top:10px;
            order: 1;
        }
    }
    opacity: 0;
    transition: opacity 0.2s;
    &.fadeIn{
        opacity: 1;
    }
}

.author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:4px;
    img{
        width:32px;
        height: 32px;
        margin-right: 7px;
    }
    span{
        padding:0 9px;
        color:$gray-blue;
    }
    div{
        padding:0 9px;
        color:$dark-blue;
        font-weight: 500;
    }
    .badge{
        background-color: $moderate-blue;
        color:white;
        padding: 2px 7px 4px;
        border-radius: 2px;
        font-size:13px;
        line-height: 13px;
    }
}

.comment{
    width: 100%;
    margin-top:15px;
    p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color:$gray-blue;
        span{
            color:$moderate-blue;
        }
    }
    textarea{
        width: 100%;
        height: 100px;
        background-color: white;
        border:1px solid $light-gray;
        resize:none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color:$gray-blue;
        padding: 10px 20px;
        border-radius: 10px;
        &:focus, &:focus-visible{
            outline: 1px solid $light-gray-blue
        }
    }
}


.buttonContainer{
    margin-top: 10px;
    button{
        max-width: 100px;
        float: right;
    }
}

.actions{
    position: absolute;
    right:20px;
    top:4px;
    height: 30px;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:$mobile) {
        bottom:20px;
        top:inherit
    }
}
