$moderate-blue: rgb(84,87,182);
$soft-red: rgb(237,100,100);
$light-gray-blue: rgb(195,196,239);
$pale-red:rgb(255,184,187);
$dark-blue: rgb(50,65,82);
$gray-blue: rgb(103,114,126);
$light-gray: rgb(234,236,241);
$very-light-gray: rgb(245,246,250);